#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification,
.error {
  padding: 10px;
  border-radius: 12px;
  margin: 10px;
}

.notification {
  border: 2px solid green;
}

.error {
  border: 2px solid red;
}
