.countries {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  appearance: none;
  height: 30px;
  border-radius: 12px;
  background-color: lightblue;
  border: none;
  padding: 6px;
  font-size: 18px;
}

.country {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
}
